.task-container {
    display: flex;
    align-items: center;
    height: 2em;
    margin: 10px 0px;
    /* border: 1px solid orange; */
}

.checklist-container {
    display: flex;
    align-items: center;
    height: 2em;
    width: 80%;
    margin: 10px 0px;
    /* border: 1px solid green; */
}

.check {
    margin: 0px 10px;
}

.task {
    outline: none;
    padding-left: 5px;
    /* max-width: 80%; */
    min-width: 80%;
    border-radius: 5px;
    height: 1.6em;
    background-color: #2d2a32;
    color: whitesmoke;
}

.button-container-task {
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    
}

.button-container-task > button {
   cursor: pointer;
   background-image: url('../../images/trash.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   width: 20px;
   height: 20px;
   background-color: transparent;
}
