.list {
    display: flex;
    flex-direction: column;
    border: 1px solid #74546A;
    width: 300px;
    flex: 1;  
}

::-webkit-scrollbar-track {
    background-color: #843B62;
}
::-webkit-scrollbar {
    width: 6px;
    background: #843B62;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.list-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.list-header-container > p {
    width: 90%;
    height: 40px;
    padding: 5px 0px 0px 10px;
    color: whitesmoke;
}

.list-close {
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    width: 10%;
    height: 40px;
}

.list-close:hover {
    color:red;
}

.location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 2.4em;
}

.location-container > figure {
    height: 2.4em;
    width: 2.4em;
    background-image: url('../../images/locationFinal.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.location-container > p {
    color: whitesmoke;
    font-size: 1.4em;
    flex: 1;
}

.location-container > button {
    background-color: tomato;
    color: whitesmoke;
    cursor: pointer;
    width: 6em;
    color: whitesmoke;
}

.list-checklist-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: medium;
    margin-top: 15px;
    overflow-y: auto;
}

.list-checklist-container > input {
    margin: 10px;
}

.list-save {
    background-color: tomato;
    color: whitesmoke;
    cursor: pointer;
    height: 2.8em;
}

