.header-class {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(231, 141, 141);
    /* background-color: #0B032D; */
    height: 2.8em;
    width: 100%;
    color: whitesmoke;
    font-size: larger;
}

.header-class > div {
    width: 25%;
    height: 100%;
    background-image: url("../../images/checkinwhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
