.layers-selection-container {
    border: 2px solid black;
    /* width: 17%; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
    background: #FFEBEE;
    color: #212121;
}