/* .city-card-container {
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 37%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.city-card-header {
    border-bottom: 2px solid rgb(231, 141, 141);
    width: 100%;
    height: 32%;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.city-card-header > input {
    width: 85%;
    height: 100%;
    background-color: transparent;
    color: whitesmoke;
    font-size: larger;
    background-color: rgb(231, 141, 141);
    border-radius: 15px;
    padding-left: 10px;
}

.city-card-header > span {
    background-image: url("../../images/closeX.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    height: 100%;
    color: whitesmoke;
    cursor: pointer;
    padding-left: 5px;
}

.city-card-main {
    width: 100%;
    height: 38%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(231, 141, 141);
}

.city-card-main > span {
    background-image: url("../../images/locationNoun.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    height: 60%;    
}

.city-card-main > p {
    flex: 1;
    color: whitesmoke;
    word-wrap: break-word;  
}

.city-card-footer {
    width: 100%;
    height: 30%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.city-card-footer > span {
    background-image: url("../../images/listicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 80%;
}

.city-card-footer > span:hover {
    cursor: pointer;
}

.footer {
    color: whitesmoke;
    height: 80%;
}
.footer:hover {
    cursor: pointer;
    color: whitesmoke;
    color: #000000;
} */

.container-city-card {
    width: 40%;
    height: 140px;
    background-color: #FF8A80;
    margin-top: 20px;
}

.container-city-card > :not(:first-child) {
    margin-top: 10px;
}

.header-wrapper-city-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-city-card {
    padding-left: 6px;
    color: #263238;
    font-size: 1.4em;
}

.delete-city-card {
    margin-top: 4px;
    width: 30px;
    height: 30px;
}

.main-wrapper-city-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-wrapper-city-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-to-city-tasks {
    display: flex;
    border: 1px solid black;
}

.go-to-city-tasks:hover {
    display: flex;
    border: 1px solid black;
}

.delete-city-card, 
.list-icon {
    cursor: pointer;
}

.delete-city-card, 
.list-icon, 
.location-icon-city-card {
    color: #263238;
    opacity: 0.8;
}

.list-icon, 
.location-icon-city-card:hover {
    color: #263238;
    opacity: 0.8;
}

.delete-city-card:hover {
    color: #121516;
    opacity: 0.8;  
}

.card-header-city-card,.card-main, .card-footer {
    padding: 2px;
}

.card-header-city-card {
    border-bottom: 3.5px solid  #ec6c60;
}

.divider {
    width: 90%;
    height: 0.25em;
    color: black;
}