/* Dialog Modal */

.dialog-toggle {
    margin-left: 280px;
    margin-top: 20px;
    color: whitesmoke;
    /* border: 1px solid white; */
    width: 160px;
    height: 70px;
    font-size: 1.7em;
}

.add-list-symbol{
    width: 45px;
    height: 45px;
}

#simple-dialog {
    width: 30%;
}

#dialog-title {
    border-bottom: 2px solid rgb(231, 141, 141);
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
    width: 100%;
}

#dialog-close {
    padding-top: 7px;
    height: 10px;
    cursor: pointer;
}

#dialog-close:hover {
    color: rgb(231, 141, 141);
}

.create-a-list-container {
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
}

.button-container-modal {
    display: flex;
    justify-content: center;
    width: 20%;
    padding-top: 32px;
}

.textfield-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 5px;
}

.textfield-container > :not(:first-child) {
    margin-top: 15px;
}

.rmd-floating-label--inactive {
    background-color: #FFEBEE;
}

.rmd-floating-label--active {
    background-color: #FFEBEE;
}